{% extends '_base.html' %}
{% load crispy_forms_filters %}


{% block page_title %}
    reset completed
{% endblock %}





{% block content %}
    <div class="container mt-3">
        {% load crispy_forms_tags %}
        <div class="d-grid gap-2" style="width:500px; margin:auto;">
            <h3 style="width:500px; margin:auto;">password changed</h3>

            <a href="{% url 'login' %}">
                <button class="btn btn-primary" style="width:500px; margin:auto;" type="button">GO TO HOME</button>
            </a>

        </div>

    </div>

{% endblock %}
