{% extends '_base.html' %}
{% load crispy_forms_filters %}


{% block page_title %}
    reset done
{% endblock %}





{% block content %}
    <div class="container mt-3">
        {% load crispy_forms_tags %}
        <h3>password sent</h3>
        <div class="d-grid gap-2" style="width:500px; margin:auto;">
            <h3>check your email</h3>
            <a href="{% url 'home' %}">
                <button class="btn btn-primary" style="width:500px; margin:auto;" type="button">GO TO HOME</button>
            </a>

        </div>

    </div>

{% endblock %}
